.title {
  text-align: center;
}

.sub-title {
  text-align: center;
}

.goods {
  margin: 20px auto;
  width: 200px;
  background: wheat;
  color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.navbar {
  background: white;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
} 

.goods-img {
  width: 100%;
  height: auto;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 